{% load humanize %}
{% load jalali_tags %}

{% for order in main_oreder %}
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="heading{{ forloop.counter }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                                data-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                                aria-controls="collapse{{ forloop.counter }}">
                            شماره سفارش {{ order.Order_number }} در تاریخ {{ order.date|to_jalali:'%Y,%m,%d' }}

                        </button>
                    </h2>

                </div>
                <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="cart-item-table commun-table">
                            <div class="table-responsive">
                                <table class="table border mb-0">
                                    <thead>
                                    <tr>
                                        <th>تصویر</th>
                                        <th>نام محصول</th>
                                        <th>رنگ محصول</th>
                                        <th>سایز محصول</th>
                                        <th>قیمت</th>
                                        <th>درصد تخقیف</th>
                                        <th>تعداد</th>
                                        <th>مبلغ کل</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for basket in order.cart_set.all %}

                                        <tr>
                                            <td>
                                                <a href="{{ basket.product_id.get_absolute_url }}">
                                                    <div class="product-image">
                                                        <img alt="Eshoper"
                                                             src="{{ basket.product_id.product_image.url }}">
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="product-title">
                                                    <a href="{{ basket.product_id.get_absolute_url }}">{{ basket.product_id.product_name }}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="color_product_cart ">
                                                    <span class="price">{{ basket.color_size.product_color }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="color_product_cart ">
                                                    <span class="price">{{ basket.color_size.product_size }} ({{ basket.color_size.product_size.product_unit }})</span>
                                                </div>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>
                                                        <div class="base-price price-box">
                                                            <span class="price"> تومان{{ basket.final_price|intcomma:False }}</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>
                                                        <div class="base-price price-box">
                                                            <span class="">%{{ basket.final_price_discount|intword }}</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <div class="input-box">
                                                    <div class="custom-qty">
                                                        <P>{{ basket.count }}</P>
                                                    </div>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="total-price price-box">
                                                    <span class="price">{{ basket.old_total_price|intcomma:False }} تومان</span>
                                                </div>
                                            </td>

                                        </tr>


                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="factor_box">
                    <a class="factor btn custom_faxtor_box"
                       href="{% url 'Send_and_Factor:Factor_form' code_factor=order.Order_number %}">مشاهده فاکتور</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

